.rule {
  div {
    display: inline;
    margin: .25em;
    padding: .25em;
    border: 1px solid black;
  }
}

.hits {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hit {
  margin: 0;
  padding: .5em 0;
  border-bottom: 1px solid black;

  .time {
    color: green;
  }

  .env {
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
    overflow: hidden;
    font-size: 85%;

    dt {
      clear: left;
      width: 30ex;
    }
    dd {
      color: green;
    }
    dt, dd {
      float: left;
    }
  }

  .body {
    white-space: pre-wrap;
  }
}
